<div class="container">
<%= form_for(@book_return) do |f| %>
  <% if @book_return.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_return.errors.count, "error") %> prohibited this book_return from being saved:</h2>

      <ul>
      <% @book_return.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :book_Name %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :bookName, :placeholder => "Book Name" %>
    </div>
  </div><br/>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :book_Number %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :bookNumber, :placeholder => "Book Number" %>
    </div>
  </div><br/>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :first_Name %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :firstName, :placeholder => "First Name" %>
    </div>
  </div><br/>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :last_Name %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :lastName, :placeholder => "Last Name" %>
    </div>
  </div><br/>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :student_id_no %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :student_id_no, :placeholder => "Student Id No." %>
    </div>
  </div><br/>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :date_Return %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :dateReturn, :placeholder => "mm/dd/yy" %>
    </div>
  </div><br/>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :date_Issued %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :dateIssued, :placeholder => "mm/dd/yy" %>
    </div>
  </div><br/>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :due_Date %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :dueDate, :placeholder => "mm/dd/yy" %>
    </div>
  </div><br/><br/><br/>

  <div class="actions">
    <%= f.submit class: "btn-success"%>
  </div>
<% end %>
</div>