<div class="container">
  <!--<ul class="kj">-->
    <!--<li class="li"><%= link_to 'Book Details', transactions_details_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Issue',book_issues_new_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Returns' %></li>-->
    <!--<li class="li"><%= link_to 'Book Reservation', book_reservations_new_path%></li>-->
  <!--</ul>-->
</div>
<br><br><br>
<div class="container">
  <div class="hover col-md-12">
<p id="notice"><%= notice %></p>
<h1 class="text-center">Listing Book Returns</h1>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="f">Bookname</th>
      <th class="f">Booknumber</th>
      <th class="f">Firstname</th>
      <th class="f">Lastname</th>
      <th class="f">Student id no</th>
      <th class="f">Datereturn</th>
      <th class="f">Dateissued</th>
      <th class="f">Duedate</th>
      <th colspan="3" class="f">Option</th>
    </tr>
  </thead>

  <tbody>
    <% @book_returns.each do |book_return| %>
      <tr>
        <td><%= book_return.bookName %></td>
        <td><%= book_return.bookNumber %></td>
        <td><%= book_return.firstName %></td>
        <td><%= book_return.lastName %></td>
        <td><%= book_return.student_id_no %></td>
        <td><%= book_return.dateReturn %></td>
        <td><%= book_return.dateIssued %></td>
        <td><%= book_return.dueDate %></td>
        <td class="f"><%= link_to 'Show', book_return, class: "btn btn-info"%></td>
        <td class="f"><%= link_to 'Edit', edit_book_return_path(book_return), class: "btn btn-warning" %></td>
        <td class="f"><%= link_to 'Destroy', book_return, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong><%= link_to 'New Book Return >> ', new_book_return_path, class: "btn btn-primary" %></strong><br><br>
</div>
</div>
<br><br><br><br><br><br>