<div class="container">
  <!--<ul class="kj">-->
    <!--<li class="li"><%= link_to 'Book Details', transactions_details_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Issue',book_issues_new_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Returns' %></li>-->
    <!--<li class="li"><%= link_to 'Book Reservation',book_reservations_new_path %></li>-->
  <!--</ul>-->
</div>
<br><br><br><br>

<div class="container">
  <div class="well">
    <table class="table table-responsive">
      <thead>
      <div>
        <p class="h1 text-center">SMNHS LIBRARY SYSTEM</p>
      </div>
      <div>
        <p colspan="5" class="h2 text-center">Book Returns</p>
      </div>
      </thead>
      <tbody>
      <div class="col-md-12">
        <div class="col-md-6 hover"><br/><br/><br/>

          <%= render 'form' %><br/>

        </div><br><br/><br/>
        <div class="col-md-6">
          <div class="col-md-12">
            <div class="center-block">
              <div class="well alert-danger">
                <h2>Reminder:</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi nam
                  possimus veniam? Commodi delectus error est explicabo illo itaque provident
                  ratione rem tenetur veritatis. Ad est explicabo facere impedit nemo.</p>
              </div>
            </div>
            <%= link_to 'Show the Book Return >>', book_returns_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      </tbody>
    </table>
  </div>
</div>
</div>

