<div class="container">
  <!--<ul class="kj">-->
    <!--<li class="li"><%= link_to 'Book Details', transactions_details_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Issue', book_issues_new_path%></li>-->
    <!--<li class="li"><%= link_to 'Book Returns' %></li>-->
    <!--<li class="li"><%= link_to 'Book Reservation', book_reservations_new_path %></li>-->
  <!--</ul>-->

</div>
<br><br><br><br>
<div class="container">
  <div class="hover col-nd-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Bookname:</strong>
  <%= @book_return.bookName %>
</p>
    <br>
<p>
  <strong>Booknumber:</strong>
  <%= @book_return.bookNumber %>
</p>
    <br>
<p>
  <strong>Firstname:</strong>
  <%= @book_return.firstName %>
</p>
    <br>
<p>
  <strong>Lastname:</strong>
  <%= @book_return.lastName %>
</p>
    <br>
<p>
  <strong>Student id no:</strong>
  <%= @book_return.student_id_no %>
</p>
    <br>
<p>
  <strong>Datereturn:</strong>
  <%= @book_return.dateReturn %>
</p>
    <br>
<p>
  <strong>Dateissued:</strong>
  <%= @book_return.dateIssued %>
</p>
    <br>
<p>
  <strong>Duedate:</strong>
  <%= @book_return.dueDate %>
</p>
    <br>
<strong><%= link_to 'Edit', edit_book_return_path(@book_return), class: "btn btn-warning" %> |
<%= link_to 'Back', book_returns_path, class: "btn btn-default" %></strong>
  </div>
</div>