<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>


    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :lastname, autofocus: true, placeholder: "Last Name" %>
    </div>
    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :firstname, placeholder: "First Name" %>
    </div>
    <div class="field">
      <%= f.label :middle_name %><br />
      <%= f.text_field :middlename, placeholder: "Middle Name" %>
    </div>
    <div class="field">
      <%= f.label :student_id_no %><br />
      <%= f.text_field :student_id_no, placeholder: "Student Id No" %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, placeholder: "Email" %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Retype Password" %>

    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-success" %>
      <%= link_to "Cancel", library_index_path, class: "btn btn-danger"%>
    </div>
<% end %><br/>