<br><br>
<div class="container">
  <div class="hover  col-md-12">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :lastname, autofocus: true, placeholder: "Last Name"%>
        </div>
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :firstname, placeholder: "First Name" %>
        </div>
        <div class="field">
          <%= f.label :middle_name %><br />
          <%= f.text_field :middlename, placeholder: "Middle Name" %>
        </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "New Password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Retype New Password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Old Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn-success"%>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Delete my Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-danger" %></p>

<%= link_to "Back", library_index_path, class:"btn btn-warning" %>
  </div>
</div>
<br/><br/>