<div class="container" xmlns="http://www.w3.org/1999/html">
  <!--<ul class="kj">-->
    <!--<li class="li"><%= link_to 'Books', library_books_path %></li>-->
    <!--<li class="li"><%= link_to 'School_Library', library_school_library_path %></li>-->
    <!--<li class="li"><%= link_to 'Rules and Regulations', library_rules_regulation_path %></li>-->
  <!--</ul>-->
</div>
<br><br>
<div class="container">
   <div class="hover col-md-12">
     <div class="col-md-6">
       <br><br> <br><br> <br><br>
       <img src="/assets/102_4315.jpg" class="b">
       <p><br><br>lorem ipsum dolor sit amet, consectetur adipisicing
         elit,sed do eiusmod tempor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicing
         elit,sed do eiusmod tempor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicing
         elit,sed do eiusmod tempor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicing
         elit,sed do eiusmod tempor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicing
         elit,sed do eiusmod tempor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicing
         elit,sed do eiusmod tempor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicing
         elit,sed do eiusmod tempor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicing
         empor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicing
         elit,sed do eiusmod tempor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicingempor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicing
         elit,sed do eiusmod tempor incididunt ut labore et dolore magna
         lorem ipsum dolor sit amet, consectetur adipisicing</p>
     </div>
     <div class=" col-md-6">
       <h3 class="text-center">Sample Books</h3>
       <br><br>

       <div class="col-md-5">
         <p class="d">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           Consequatur ex exercitationem ipsa officia repellendus similique suscipit
           , ut. Corporis, ducimus earum enim explicabo in iste.
           Corporis, ducimus earum enim explicabo in iste.
           </p>
       </div>
       <div class="col-md-1">
         <img src="/assets/books/biology.jpg" class="m">
       </div>
       <br><br><br><br><br><br>
       <br><br><br><br><br><br>
       <div class="col-md-5">
         <p class="d">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           Consequatur ex exercitationem ipsa officia repellendus similique suscipit
           , ut. Corporis, ducimus earum enim explicabo in iste.
           Corporis, ducimus earum enim explicabo in iste.
         </p>
       </div>
       <div class="col-md-1">
         <img src="/assets/books/chemistry1.jpg" class="m">
       </div>
       <br><br><br><br><br><br>
       <br><br><br><br><br><br>
       <div class="col-md-5">
         <p class="d">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           Consequatur ex exercitationem ipsa officia repellendus similique suscipit
           , ut. Corporis, ducimus earum enim explicabo in iste.
           Corporis, ducimus earum enim explicabo in iste.
         </p>
       </div>
       <div class="col-md-1">
         <img src="/assets/books/download (5).jpg" class="m">
       </div>
       <br><br><br><br><br><br>
       <br><br><br><br><br><br>
     </div>
   </div>
</div>
<br/><br/><br/>