<br><br>
<div class="container">
  <div class="well col-md-12" style="background: #ffead7">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <center><img src="/assets/download%20(1).jpg"  class="carousel-height1"></center>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <center><img src="/assets/download.jpg" class="carousel-height1"></center>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <center><img src="/assets/images%20(2).jpg"  class="carousel-height1"></center>
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <br><br>
    <div class="hover col-md-12">
        <div class="hover col-md-12">
          <h4 class="q">Brief History</h4>
          <p class="x">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae dignissimos dolorem eos
            exercitationem facere fugit harum hic illo libero magnam perferendis quae quibusdam rerum sapiente,
            totam velit voluptate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa
            deleniti dolor dolorem doloribus placeat quo sunt, temporibus. Autem cumque eius fuga incidunt libero
            non quos repellat temporibus totam vitae! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam atque aut cumque dicta doloremque eius eum excepturi, fuga fugit harum ipsa iure laboriosam
            libero molestias, nam nemo nihil repellat, repellendus?
          </p>
          <p class="x">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae dignissimos dolorem eos
            exercitationem facere fugit harum hic illo libero magnam perferendis quae quibusdam rerum sapiente,
            totam velit voluptate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa
            deleniti dolor dolorem doloribus placeat quo sunt, temporibus. Autem cumque eius fuga incidunt libero
            non quos repellat temporibus totam vitae! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam atque aut cumque dicta doloremque eius eum excepturi, fuga fugit harum ipsa iure laboriosam
            libero molestias, nam nemo nihil repellat, repellendus?
          </p>
          <p class="x">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae dignissimos dolorem eos
            exercitationem facere fugit harum hic illo libero magnam perferendis quae quibusdam rerum sapiente,
            totam velit voluptate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa
            deleniti dolor dolorem doloribus placeat quo sunt, temporibus. Autem cumque eius fuga incidunt libero
            non quos repellat temporibus totam vitae! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam atque aut cumque dicta doloremque eius eum excepturi, fuga fugit harum ipsa iure laboriosam
            libero molestias, nam nemo nihil repellat, repellendus?
          </p>
          <p class="x">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur beatae dignissimos dolorem eos
            exercitationem facere fugit harum hic illo libero magnam perferendis quae quibusdam rerum sapiente,
            totam velit voluptate? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur culpa
            deleniti dolor dolorem doloribus placeat quo sunt, temporibus. Autem cumque eius fuga incidunt libero
            non quos repellat temporibus totam vitae! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam atque aut cumque dicta doloremque eius eum excepturi, fuga fugit harum ipsa iure laboriosam
            libero molestias, nam nemo nihil repellat, repellendus?
          </p>
        </div>
      <div class="hover col-md-4">

      </div>
    </div>
  </div>
</div>
