<div class="container">
  <!--<ul class="kj">-->
    <!--<li class="li"><%= link_to 'Books', library_books_path %></li>-->
    <!--<li class="li"><%= link_to 'School_Library', library_school_library_path %></li>-->
    <!--<li class="li"><%= link_to 'Rules and Regulations', library_rules_regulation_path %></li>-->
  <!--</ul>-->
</div>
<br><br>
<div class="container">
  <div class="hover col-md-12" style= "color: #000000">
    <h1 class="text-center">Rules And Regulations</h1>
    <br><br>
    <div class="col-md-3">
      <img src="/assets/download (4).jpg" class="d">
    </div>
    <div class="col-md-8">
      <p>lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        atque consequatur debitis dolorem doloremque dolores doloribus,
        expedita illo inventore libero magni mollitia natus odio odit,
        perferendis perspiciatis sequi vero voluptatum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi eius nam non nostrum perferendis, sapiente tempore unde.
        Similique, voluptates voluptatum. Ab aliquam atque libero modi
        , nobis quam. Aspernatur, delectus, doloribus?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
        consectetur esse neque, non repellendus vitae voluptatibus. Blanditiis
        commodi corporis, dolore earum eligendi expedita itaque libero magni pariatur, repellat sit vitae!
      </p>
    </div>
    <br><br><br><br>
    <br><br><br><br>
    <br><br>
    <div class="col-md-3">
      <img src="/assets/imagesdg (6).jpg" class="d">
    </div>
    <div class="col-md-8">
      <p>lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        atque consequatur debitis dolorem doloremque dolores doloribus,
        expedita illo inventore libero magni mollitia natus odio odit,
        perferendis perspiciatis sequi vero voluptatum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi eius nam non nostrum perferendis, sapiente tempore unde.
        Similique, voluptates voluptatum. Ab aliquam atque libero modi
        , nobis quam. Aspernatur, delectus, doloribus?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
        dolorem doloremque doloribus error, modi nostrum nulla suscipit?
        Consequuntur dolore et quaerat. Ab aliquam assumenda dolorum impedit, inventore repellendus sint veritatis?
      </p>
    </div>
    <br><br><br><br>
    <br><br><br><br>
    <br><br>
    <div class="col-md-3">
      <img src="/assets/images (12).jpg" class="d">
    </div>
    <div class="col-md-8">
      <p>lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        atque consequatur debitis dolorem doloremque dolores doloribus,
        expedita illo inventore libero magni mollitia natus odio odit,
        perferendis perspiciatis sequi vero voluptatum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi eius nam non nostrum perferendis, sapiente tempore unde.
        Similique, voluptates voluptatum. Ab aliquam atque libero modi
        , nobis quam. Aspernatur, delectus, doloribus?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
        architecto distinctio enim est eum facere fugiat harum id iste, itaque
        iure nihil nulla pariatur porro tenetur! Ea nobis odit voluptatum!
      </p>
    </div>
    <br><br><br><br>
    <br><br><br><br>
    <br><br>
    <div class="col-md-3">
      <img src="/assets/images (11).jpg"  class="d">
    </div>
    <div class="col-md-8">
      <p>lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        atque consequatur debitis dolorem doloremque dolores doloribus,
        expedita illo inventore libero magni mollitia natus odio odit,
        perferendis perspiciatis sequi vero voluptatum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi eius nam non nostrum perferendis, sapiente tempore unde.
        Similique, voluptates voluptatum. Ab aliquam atque libero modi
        , nobis quam. Aspernatur, delectus, doloribus?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci,
        beatae, culpa dolores est et excepturi facilis fugiat itaque maxime
        nam nesciunt optio perferendis perspiciatis quis quod reiciendis repellat rerum voluptatem!
      </p>
    </div>
    <br><br><br><br>
    <br><br><br><br>
    <br><br>
    <div class="col-md-3">
      <img src="/assets/images (10).jpg"  class="d">
    </div>
    <div class="col-md-8">
      <p>lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
        atque consequatur debitis dolorem doloremque dolores doloribus,
        expedita illo inventore libero magni mollitia natus odio odit,
        perferendis perspiciatis sequi vero voluptatum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi eius nam non nostrum perferendis, sapiente tempore unde.
        Similique, voluptates voluptatum. Ab aliquam atque libero modi
        , nobis quam. Aspernatur, delectus, doloribus?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda
        consectetur dicta, esse illum numquam repellendus rerum? Aliquid architecto
        consequuntur, deserunt dolore doloribus esse iste. Ad aliquam deleniti in ipsum mollitia!
      </p>
    </div>
  </div>
</div>
<br/><br/><br/>