<div class="container">
  <!--<ul class="kj">-->
    <!--<li class="li"><%= link_to 'Books', library_books_path %></li>-->
    <!--<li class="li"><%= link_to 'School_Library', library_school_library_path %></li>-->
    <!--<li class="li"><%= link_to 'Rules and Regulations', library_rules_regulation_path %></li>-->
  <!--</ul>-->
</div>
<br><br>

<div class="container">
  <div class="well col-md-12"  style="background: lightgray">
    <h2 class="text-center">SMNHS Library System</h2>
    <h4 class="text-center">School Library Info.</h4>
    <br>
    <div class="col-md-3">
      <img src="/assets/images (7).jpg" width="30px" height="50%" class="d">
    </div>
    <div class="col-md-9">
      <p>lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        lorem ipsum dolor sit amet, consectetur adipisicing
        elit,sed do eiusmod tempor incididunt ut labore et dolore magna
        lorem ipsum dolor sit amet, consectetur adipisicing</p><br/><br/>
    </div>
    <br>
      <div class="hover col-md-12">
              <div class="col-md-3 info hover">
                <br><label>Name of the Librarian:</label>
                <br><label><p>Email Account:</p></label>
                <br><label><p>Address:</p></label>

              </div>
              <div class="col-md-4 info hover">
                <br><label>Mrs. Welhelmina Catilogo</label>
                <br><label><p>Welhelmina Catilogo@gmail.com</p></label>
                <br><label><p>Sta. Mesa National High School Dagami,Leyte</p></label>
              </div>
              <div class="col-md-3 info hover">
                <br><label>Telephone No:</label>
                <br><label><p>Cellphone No:</p></label>
                <br><label><p>Other Cellphone No:</p></label>

              </div>
              <div class="col-md-2 info hover">
                <br><label>305-687-45223</label>
                <br><label><p>09123456789</p></label>
                <br><label><p>09123456789</p></label>
              </div>
      </div>
    </div>
 </div>