<div class="container"></br>
  <div class="col-md-12 hover">

    <% @books.each do |book| %>
        <div class="col-md-3 margin">
          <div>
            <br><br>
            <%= image_tag book.photo if defined?book.photo %>
          </div>
          <br>
          <div class="kj">
            <p>Title: <em><%= book.title %></em></p>
            <p>Author: <em><%= book.author %></em></p>
            <p>Description: <em><%= book.description %></em></p>

            <% if admin? %>
                <%= link_to "Issued", book_issues_new_path %> |
                <%= link_to "Return", book_returns_new_path %> |
                <%= link_to "Reserve", book_reservations_new_path %><br/><br/>

                <%= link_to 'New Book', '/books/new' %> |
                &nbsp;<%= link_to 'Destroy', book,  method: :delete, data: { confirm: 'Are you sure?' } %> |
                <%= link_to 'Edit', edit_book_path(book)%>

            <% elsif student? %>
                <%= link_to "Reserve", book_reservations_new_path, class: 'btn btn-success' %><br/><br/>
            <% else %>
                <%= link_to "Reserve", book_reservations_new_path, class: 'btn btn-success'%><br/><br/>
          <% end %>
          </div>
        </div>
    <% end %>
    <br><br>
  </div>
</div>
<br/>