
<div class="container">
  <br><br>
  <div class="col-md-12 hover">

  <p id="notice"><%= notice %></p>
<p>
  <%= image_tag @book.photo if defined?@book.photo %>
</p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
</div>
    </div>