<div class="container">

<%= form_for(@book_reservation) do |f| %>
  <% if @book_reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_reservation.errors.count, "error") %> prohibited this book_reservation from being saved:</h2>

      <ul>
      <% @book_reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :book_Name %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :bookName, :placeholder => "Book Name" %>
    </div>
  </div><br/>

  <!--<div class="field">-->
    <!--<div class="col-md-2">-->
      <!--<%= f.label :book_Number %>-->
    <!--</div>-->
    <!--<div class="col-md-2">-->
      <!--<%= f.text_field :bookNumber, :placeholder => "Book Number" %>-->
    <!--</div>-->
  <!--</div><br/>-->

  <div class="field">
    <div class="col-md-2">
      <%= f.label :first_Name %>
    </div>
    <div class="col-md-2">
      <%= current_user.firstname %>
      <%= f.text_field :firstName, :value => current_user.firstname, :placeholder => "First Name", :type => "hidden" %>
    </div>
  </div><br/>

      <div class="field">
        <div class="col-md-2">
          <%= f.label :middle_Name %>
        </div>
        <div class="col-md-2">
          <%= current_user.middlename %>
          <%= f.text_field :miidleName, :value => current_user.middlename, :placeholder => "Middle Name", :type => "hidden" %>
        </div>
      </div><br/>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :last_Name %>
    </div>
    <div class="col-md-2">
      <%= current_user.lastname %>
      <%= f.text_field :lastName, :value => current_user.lastname, :placeholder => "Last Name", :type => "hidden" %>
    </div>
  </div><br/>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :student_id_no %>
    </div>
    <div class="col-md-2">
      <%= current_user.student_id_no %>
      <%= f.text_field :student_id_no, :value => current_user.student_id_no, :placeholder => "Student Id No.", :type => "hidden" %>
    </div>
  </div><br/>

  <div class="field">
    <div class="col-md-2">
      <%= f.label :date_Reservation %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :dateReservation, :placeholder => "mm/dd/yy" %>
    </div>
  </div><br/><br/><br/>

  <div class="actions">
    <%= f.submit class: "btn-success"%>
  </div>
<% end %>
  </div>
