<div class="container">
  <div class="container">
    <!--<ul class="kj">-->
      <!--<li class="li"><%= link_to 'Book Details', transactions_details_path %></li>-->
      <!--<li class="li"><%= link_to 'Book Issue', book_issues_new_path %></li>-->
      <!--<li class="li"><%= link_to 'Book Returns', book_returns_new_path %></li>-->
      <!--<li class="li"><%= link_to 'Book Reservation' %></li>-->
    <!--</ul>-->
  </div>
  <br><br>
  <div class="hover col-md-12">
<h1>Editing Book Reservation</h1>

<%= render 'form' %>

<%= link_to 'Show', @book_reservation %> |
<%= link_to 'Back', book_reservations_path %>
</div>
</div>