<div class="container">
  <!--<ul class="kj">-->
    <!--<li class="li"><%= link_to 'Book Details', transactions_details_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Issue', book_issues_new_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Returns', book_returns_new_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Reservation' %></li>-->
  <!--</ul>-->
</div>
<br><br>
<div class="container">
  <div class="hover col-md-12">

<p id="notice"><%= notice %></p>

<h1 class="text-center">Listing Book Reservations</h1>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="f">Book Name</th>
      <!--<th class="f">Book Number</th>-->
      <th class="f">First Name</th>
      <th class="f">Middle Name</th>
      <th class="f">Last Name</th>
      <th class="f">Student id no</th>
      <th class="f">Date Reservation</th>
      <th colspan="3" class="f">Option</th>
    </tr>
  </thead>

  <tbody>
    <% @book_reservations.each do |book_reservation| %>
      <tr>
        <td><%= book_reservation.bookName %></td>
        <!--<td><%= book_reservation.bookNumber %></td>-->
        <td><%= book_reservation.firstName %></td>
        <td><%= book_reservation.middlename %></td>
        <td><%= book_reservation.lastName %></td>
        <td><%= book_reservation.student_id_no %></td>
        <td><%= book_reservation.dateReservation %></td>
        <td class="f"><%= link_to 'Show', book_reservation, class: "btn btn-info" %></td>
        <td class="f"><%= link_to 'Edit', edit_book_reservation_path(book_reservation), class: "btn btn-warning" %></td>
        <td class="f"><%= link_to 'Destroy', book_reservation, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<strong><%= link_to 'New Book reservation', new_book_reservation_path, class: "btn btn-primary" %></strong><br><br>
  </div>
</div>

<br><br><br><br><br><br>