<div class="container">
  <!--<ul class="kj">-->
    <!--<li class="li"><%= link_to 'Book Details', transactions_details_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Issue', book_issues_new_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Returns', book_returns_new_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Reservation'%></li>-->
  <!--</ul>-->
</div>
<br><br>
<div class="container">
<div class="hover col-md-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Bookname:</strong>
  <%= @book_reservation.bookName %>
</p>
  <br>
<!--<p>-->
  <!--<strong>Booknumber:</strong>-->
  <!--<%= @book_reservation.bookNumber %>-->
<!--</p>-->
  <br>
<p>
  <strong>Firstname:</strong>
  <%= @book_reservation.firstName %>
</p>
  <br>
  <p>
    <strong>Middlename:</strong>
    <%= @book_reservation.middlename %>
  </p>
  <br>
<p>
  <strong>Lastname:</strong>
  <%= @book_reservation.lastName %>
</p>
  <br>
<p>
  <strong>Student id no:</strong>
  <%= @book_reservation.student_id_no %>
</p>
  <br>
<p>
  <strong>Datereservation:</strong>
  <%= @book_reservation.dateReservation %>
</p>
  <br>
<%= link_to 'Edit', edit_book_reservation_path(@book_reservation) %> |
<%= link_to 'Back', book_reservations_path %>
</div>
</div>
<br><br><br>