<br/><br/>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <div class="field">
      <%= f.label :student_id_no %><br />
      <%= f.text_field :student_id_no, placeholder: "Student Id No" %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>
    <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-success " %>
      <%= link_to "Cancel", library_index_path, class: "btn btn-danger"%>

    </div>
<% end %>