/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("/assets/background/270_Mesh_Header_DarkBlue-Blue.png");
    margin: 0 0 100px;
    overflow-x: hidden;
}
h2.font{
    font-size: 30px;
}
label.turba{
    font-size: 20px;
}
.ul  {
    /*margin-top: 50px;*/
}
.q{
    font-size: 25px;
    color: black;
    padding: 10px;
}
.q:hover{
    font-size: 25px;
    color: grey;
}
.x{
    font-size: 15px;
    color: #000000;
    padding: 10px;
    /*margin: 0px 0px 0px 10px;*/
    text-indent: 50px;
}

.nav{
    *zoom:1;
    list-style:none;
    margin:0;
    padding:0;
    background: #333333;
    color: #ffffff;
}
.f{
    font-size: 15px;
    padding: 3px;
}
.s{
    font-size: 19px;
    padding: 10px;
}
strong{
    font-size: 20px;
}
.nav ul:before,.nav ul:after {
    content:" ";
    display:table;
}
.nav ul:after {
    clear:both;
}
.nav ul > li{
    float: right !important;
    position:relative;
}
.nav li {
    display:block;
    padding:10px 10px;
    line-height:1.2em;
    color: #fff;
    /*border-left:1px solid #595959;*/
}
.nav li:hover {
    text-decoration:none;
    background: #000000;

}
.nav li ul {
    background: #bcbcbc;
}
.nav li ul li {
    width:200px;
}
.nav li ul  {
    border:none;
}
.nav li ul:hover {
    background: rgb(0, 0, 0);
}

.nav li ul {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    visibility:hidden;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:200ms ease;
    -moz-transition:200ms ease;
    -o-transition:200ms ease;
    transition:200ms ease;
}
.nav ul > li:hover ul {
    visibility:visible;
    opacity:1;
    filter:alpha(opacity=100);
}

.border {
    border-bottom: solid #ffffff 1px;
}


/* Clearfix */

.cf:after, .cf:before {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}
.m{
    height: 150px;
}
img{
    width: 200px;
    height: 300px;
}
.col-md-4{
    /*background: rgba(234, 234, 234, 0.16);*/
    /*color: rgb(243, 243, 243);*/
}
.carousel-height1{
    width: 100%;
    height: 450px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner> .item > a > img {
    line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner> .prev {
    display: block;
}
.carousel-inner1 > .active {
    left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner1 > .active.left {
    left: -100%;
}
.carousel-inner1 > .active.right {
    left: 100%;
}
.carousel-inner{
    /*background-color: #a9a9a9;*/
}

.well > .col-md-12{
    background-image: url("/assets/background/library.jpeg");
    /*background-color: rgba(121, 123, 129, 0.48);*/
}
/*image*/
.img {
    height: 150px;
    width: 700px;
}
li{
    list-style-type: none;
    float: left;
}
li.li {
    margin-right: 20px;
}
th{
    text-align: center;
}
p.p{
    font-size: 30px;
}
td{
    text-align: center;
    font-size: 20px;
}
.kj{
    font-size: 17px;
}

.info {
    /*background-color: #ffffff;*/
    /*color: #e5e7ee;*/
}

.footer {
    background:#333;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}
.d{
    height: 150px;}
