// Place all the styles related to the book_transaction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.margin {
  margin: 10px 0;
  border-bottom: solid #333333 1px;
}
