<div class="container"></br>
    <div class="col-md-12 hover">
        <div class="col-md-3 margin">
          <div>
            <img src="/assets/books/downloyufdad.jpg" alt="img"/>
          </div>
          <br>
          <div class="kj">
            <p>Title: <strong>Science I Book</strong></p>
            <%= link_to "Issued", book_issues_new_path%> |
            <%= link_to "Return", book_returns_new_path %> |
            <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
          </div>
        </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/biology.jpg" alt="img"/>
        </div>
        <br>
        <div class="kj">
          <p>Title: <strong>Science II Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path%> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/chemistry2.jpg" alt="img"/>
        </div>
        <br>
        <div class="kj">
          <p>Title: <strong>Science III Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path%> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/science_book.jpg" alt="img"/>
        </div>
        <br>
        <div class="kj">
          <p>Title: <strong>Science IV Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/mapeh.jpg" alt="img"/>
        </div>
        <br>
        <div class="kj">
          <p>Title: <strong>Mapeh I Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/mapeh.jpg" alt="img"/>
        </div>
        <br>
        <div class="kj">
          <p>Title: <strong>Mapeh II Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div><br/>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/mapeh.jpg" alt="img"/>
        </div>
        <br>
        <div class="kj">
          <p>Title: <strong>Mapeh III Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/mapeh.jpg" alt="img"/>
        </div>
        <br>
        <div class="kj">
          <p>Title: <strong>Mapeh IV Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/biology.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/biology.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/biology.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/biology.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/Math.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/Math.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/Math.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/Math.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/chemistry2.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/chemistry2.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/chemistry2.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <div class="col-md-3 margin">
        <div>
          <img src="/assets/books/chemistry2.jpg" alt="img"/>
        </div>
        <div class="kj">
          <p>Title: <strong>Science Book</strong></p>
          <%= link_to "Issued", book_issues_new_path%> |
          <%= link_to "Return", book_returns_new_path %> |
          <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
        </div>
      </div>
      <%= link_to 'View More', transactions_view_more_path %>
      <br><br>
    </div>
</div>
<br/>