<div class="container"></br>
  <div class="col-md-12 hover">
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/science_book.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/science_book.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path%> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/science_book.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path%> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/science_book.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/mapeh.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/mapeh.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div><br/>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/mapeh.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/mapeh.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/biology.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/biology.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/biology.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/biology.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/Math.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/Math.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/Math.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/Math.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/chemistry2.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/chemistry2.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/chemistry2.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <div class="col-md-3 margin">
      <div>
        <img src="/assets/books/chemistry2.jpg" alt="img"/>
      </div>
      <div class="kj">
        <p>Title: <strong>Science Book</strong></p>
        <%= link_to "Issued", book_issues_new_path%> |
        <%= link_to "Return", book_returns_new_path %> |
        <%= link_to "Reserve", book_reservations_new_path %><br/><br/>
      </div>
    </div>
    <br><br>
  </div>
</div>
<br/>