<!DOCTYPE html>
<html>
<head>
  <title>LibrarySystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="nav navbar navbar-default">
    <img src="/assets/smnhs.png" class="img">
    <div class="container">
      <div class="navbar-header">
        <button class=" navbar-toggle" data-toggle="collapse" data-target="#navbarToggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>

        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav navbar-right kj">

          <%if signed_in?%>
              <li class="li"><a href="#">Account <span class="caret"></span></a>
                <ul class="kj">
                  <li class="li border" style="color: #eaf6ff; background: rgba(255, 33, 229, 0.42)"><%=link_to current_user.email, edit_user_registration_path%></li>
                  <li class="li"><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
                </ul>
              </li>



          <li class="li"><a href="#">About <span class="caret"></span></a>
            <ul class="kj">
              <li class="li border"><%= link_to 'Books', library_books_path %></li>
              <li class="li border"><%= link_to 'School Library', library_school_library_path %></li>
              <li class="li"><%= link_to 'Rules and Regulations', library_rules_regulation_path %></li>
            </ul>
          </li>
              <li class="li"><a href="#">Books Transaction <span class="caret"></span></a>
                <ul class="kj">
                  <% if admin? %>
                      <li class="li border"><%= link_to 'Book Details', books_path %></li>
                      <li class="li border"><%= link_to 'Book Issue', book_issues_new_path %></li>
                      <li class="li border"><%= link_to 'Book Returns', book_returns_new_path %></li>
                      <li class="li"><%= link_to 'Book Reservation', book_reservations_new_path %></li>
                  <% elsif student? %>
                      <li class="li border"><%= link_to 'Book Details', books_path %></li>
                      <li class="li"><%= link_to 'Book Reservation', book_reservations_new_path %></li>
                  <% else %>
                      <li class="li border"><%= link_to 'Book Details', books_path %></li>
                      <li class="li"><%= link_to 'Book Reservation', book_reservations_new_path %></li>
                  <% end %>
                </ul>
              </li>
              <li class="li"><%= link_to 'Home', library_index_path %></li>

        </ul>



          <%else%>
              <li class="li ul"><%=link_to "Sign-up", new_user_registration_path%></li>
              <li class="li ul"><%=link_to "Login", new_user_session_path%></li>
          <%end%>

      </div>
    </div>
  </nav>

<%= yield %>

  <div class="panel-footer footer">
    <p class="text-center">Copyright &copy; @ your Website 2015 All Rights reserved 2015</p>
  </div>
</body>
</html>
