<div class="container">
  <!--<ul class="kj">-->
    <!--<li class="li"><%= link_to 'Book Details', transactions_details_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Issue'%></li>-->
    <!--<li class="li"><%= link_to 'Book Returns', book_returns_new_path %></li>-->
    <!--<li class="li"><%= link_to 'Book Reservation', book_reservations_new_path %></li>-->
  <!--</ul>-->

</div>
<br><br>

<div class="container">
  <div class="hover col-md-12">
  <h1>Editing Book Issue</h1>

<%= render 'form' %>

<%= link_to 'Show', @book_issue, class: "btn btn-info" %> |
<%= link_to 'Back', book_issues_path, class: "btn btn-default" %>
</div>
</div>