
  <div class="container">

    <div class="container">
      <!--<ul class="kj">-->
        <!--<li class="li"><%= link_to 'Book Details', transactions_details_path %></li>-->
        <!--<li class="li"><%= link_to 'Book Issue'%></li>-->
        <!--<li class="li"><%= link_to 'Book Returns', book_returns_new_path %></li>-->
        <!--<li class="li"><%= link_to 'Book Reservation', book_reservations_new_path %></li>-->

      <!--</ul>-->

    </div>
  <br><br>
  <div class="hover col-md-12">
<p id="notice"><%= notice %></p>

<h1 class="text-center">Listing Book Issues</h1>
<br>

<table class="table table-bordered">

  <thead>
    <tr>
      <th class="s">Book Name</th>
      <th class="s">Book Number</th>
      <th class="s">First Name</th>
      <th class="s">Last Name</th>
      <th class="s">Student Id No.</th>
      <th class="s">Date Issued</th>
      <th colspan="3" class="s">Option</th>
    </tr>
  </thead>

  <tbody>
    <% @book_issues.each do |book_issue| %>
      <tr>
        <td><%= book_issue.bookName %></td>
        <td><%= book_issue.bookNumber %></td>
        <td><%= book_issue.firstName %></td>
        <td><%= book_issue.lastName %></td>
        <td><%= book_issue.studentIdNo %></td>
        <td><%= book_issue.dateIssued %></td>
        <td class="s"><%= link_to 'Show', book_issue, class: "btn btn-info" %></td>
        <td class="s"><%= link_to 'Edit', edit_book_issue_path(book_issue), class: "btn btn-warning" %></td>
        <td class="s"><%= link_to 'Destroy', book_issue, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

   <strong><%= link_to 'New Book Issue >>', new_book_issue_path, class: "btn btn-primary" %></strong><br><br>
  </div>
</div>
  <br><br><br><br><br><br>