<div class="container">
  <div class="container">
    <ul class="kj">
      <li class="li"><%= link_to 'Book Details', transactions_details_path %></li>
      <li class="li"><%= link_to 'Book Issue' %></li>
      <li class="li"><%= link_to 'Book Returns', book_returns_new_path %></li>
      <li class="li"><%= link_to 'Book Reservation', book_reservations_new_path %></li>
    </ul>
  </div>
  <br><br><br><br>
  <div class="hover col-md-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Book Name:</strong>
  <%= @book_issue.bookName %>
</p>
<br><br>
<p>
  <strong>Book Number:</strong>
  <%= @book_issue.bookNumber %>
</p>
    <br><br>
<p>
  <strong>First Name:</strong>
  <%= @book_issue.firstName %>
</p>
    <br><br>
<p>
  <strong>Last Name:</strong>
  <%= @book_issue.lastName %>
</p>
    <br><br>
<p>
  <strong>Student Id No:</strong>
  <%= @book_issue.studentIdNo %>
</p>
    <br><br>
<p>
  <strong>Date Issued:</strong>
  <%= @book_issue.dateIssued %>
</p>
    <br><br>
<strong><%= link_to 'Edit', edit_book_issue_path(@book_issue), class: "btn btn-warning" %> |
<%= link_to 'Back', book_issues_path, class: "btn btn-default" %></strong>
</div>
</div>
<br><br><br><br><br><br>